{{#each formatOrderTasks}}
	<tr class="table__row taskRowJs" data-task-id="{{this.id}}">
	<td class="cell__order-index">
		<span>{{array @index}}</span>
	</td>
	<td class="cell__order-work">
		<p>{{this.task_id}}</p>
	</td>
	<td class="cell__work-price">
		<span class="taskPriceJs">{{this.task_price}}</span>
	</td>
	<td class="cell__counter">
		<span class="text_bold hidden">{{this.amount}}</span>
		<div class="counter">
			<span class="counter__minus counterMinusJs"></span>
			<span class="counter__value counterValueJs">{{this.amount}}</span>
			<span class="counter__plus counterPlusJs"></span>
		</div>
	</td>
	<td class="cell__total edited">
		<span class="text_bold taskTotalPriceJs">{{this.task_total}}</span>
		<a href="delete-service" class="delete-item removeTaskJs" data-status-scroll="0">
			<svg>
				<use xlink:href="#close"></use>
			</svg>
		</a>
	</td>
	<td class="cell-right edited">
		<span>{{this.task_price}}</span>
		<span class="text_bold hidden">{{this.amount}}</span>
		<div class="counter">
			<span class="counter__minus counterMinusJs"></span>
			<span class="counter__value counterValueJs">{{this.amount}}</span>
			<span class="counter__plus counterPlusJs"></span>
		</div>
		<span class="text_bold taskTotalPriceJs">{{this.task_total}}</span>
		<a href="delete-service" class="delete-item removeTaskJs" data-status-scroll="0">
			<svg>
				<use xlink:href="#close"></use>
			</svg>
		</a>
	</td>
</tr>
{{/each}}
<tr class="table__row">
	<td class="cell__total-text" colspan="4">
		<span class="text_bold">ИТОГО:</span>
	</td>
	<td class="cell__total-text mob" colspan="2">
		<span class="text_bold">ИТОГО:</span>
	</td>
	<td class="cell__total-all">
		<span class="text_bold">{{orderTotal}}</span>
	</td>
</tr>
