{{#each showContacts}}
	<a href="#/contact/{{this.id}}" class="table__row">
		<span class="table__cell">
			<span>
				<label class="checkbox">
					<input type="checkbox" class="checkbox__input js-contact-check" data-id="{{this.id}}">
					<span class="checkbox__text"></span>
				</label>
			</span>
		</span>
		<span class="table__cell">
			<span>{{this.surname}} {{this.name}} {{this.patronymic}}</span>
		</span>
		<span class="table__cell">
			<span>{{this.birthdate}}</span>
		</span>
		<span class="table__cell">
			<span>{{this.city}}, {{this.street}} {{this.house}}-{{this.apartment}}</span>
		</span>
		<span class="table__cell">
			<span>{{this.company}}</span>
		</span>
	</a>
{{/each}}
